/* === Common styles== */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
  width: 100%;
}
body {
  font-family: "Manrope", sans-serif;
  background: #1c2225;
  color: #fcf9f9;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  margin: 0 auto;
}
.container-style {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.list {
  list-style-type: none;
}
.link {
  text-decoration: none;
}
/* === /Common styles== */
